/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

body {
    background-color: #192793;
    color: white;
    background-image: url(papir.png);
    background-size: cover;
    min-height: 100vh;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

nav {
    background: #192793;
    height: 80px;
    width: 100%;
}
nav ul {
    float: center;
    margin-right: 2px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    margin-left: 20px;
}
nav ul li a{
    color: white;
}

#toppen ul li a {
    color: white;
    margin-left: 20px;
    font-size: 1.5em;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;;
}

.footer {
    position: relative;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
}
h1 {
    writing-mode: vertical-lr;
    font-size: 5em;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    padding: 20px;
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 2em
}

h3 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;;
}

h5 {
    text-align: left;
    margin-left: 70px;
    font-size: 1.3em;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;;
    margin-top: 50px;
}

footer {
    padding: 20px;
    margin-top: 50px ;
}

.trebilleder img{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.trebilleder p{
    text-align: center;
    padding: 30px;
}

#navigation {
    grid-area: navigation;
    background-color: chartreuse;
}

#toppen {
    grid-area: toppen;
    background-color: transparent;
}

#overskrift {
    grid-area: overskrift;
    background-color: aqua;
}

#kreativitet {
    grid-area: kreativitet;
    background-color: #fc0;
}

#nysgerrighed {
    grid-area: nysgerrighed;
    background-color: coral;
}

#learing {
    grid-area: learing;
    background-color: cornflowerblue;
}
/* design af tekst sider */ 
.teksttemplate {
    background-color: white;
    background-image: none;
}

#text {
    color: black;
}

#text p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: justify;
    line-height: 2em;
}
#text ul li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    list-style-type: square;
    text-align: justify;
    display: list-item;
    line-height: 50px;
    margin-left: 100px;
}

#text ol li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    list-style-type: decimal;
    text-align: justify;
    display: list-item;
    line-height: 50px;
    margin-left: 100px;
}

#text h4{
    text-align: center;
    font-size: 3em;
}

.billed {
    max-width: 100%;  
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* design af tekst sider slut */

#Grid {
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
    grid-gap: 2em;
    grid-template-rows: auto;
    grid-template-areas:
    "navigation"
    "toppen"
    "kreativitet"
    "learing"
    "nysgerrighed";
}

@media screen and (min-width: 700px) {
    body {
        background-color: #192793;
        color: #fc0;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    nav ul li a{
        color: white;
        font-size: 1.2em;
        text-align: center;
    }
    
}
@media screen and (min-width: 1150px) {
        body {
            background-color: #192793;
            color: white;
        }
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
        nav ul li a{
            color: white;
            font-size: 2em;
            text-align: center;
        }
        #Grid {
            display: inline-grid;
            margin-left: 1em;
            grid-gap: 2em;
            grid-column: auto;
            grid-template-rows: auto;
            grid-template-areas:
            "navigation navigation navigation"
            "toppen toppen toppen"
            "nysgerrighed learing kreativitet"
            
    }
}




    